@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

ul,
li {
    list-style: none;
}

li,
a {
    cursor: pointer;
}


:root {
    --white: #FFF;
    --accent: #290656;
    --dark: #4A4754;
    --dark-06: #797282;
    --border: #DFD9E3;
    --bg: #FDFCFF;
    --primaryDark: #AA98DB;
}


h2 {
    padding-bottom: 40px;
    color: var(--accent);
    font-kerning: none;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: clamp(32px, 5vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

#main {
    position: relative;
    height: 100vh;
    position: relative;
    margin-top: -67px;
}

#accordion {
    width: min(100% - 25px, 1440px);
    margin: 0 auto;
    padding: 64px 0 64px 0;
}


#contacts {
    width: min(100% - 25px, 1440px);
    margin: 0 auto;
    margin-top: 64px;
}
#services{
    width: min(100% - 25px, 1440px);
    margin: 0 auto;
    padding: 64px 0 64px 0;
}
#prices{
    width: min(100% - 25px, 1440px);
    margin: 0 auto;
    padding: 64px 0 64px 0;
}



@media(max-width: 850px) {
    .header {
        padding: 24px 10px;
    }

    .logo_image {
        margin-left: 5px;
    }

}

/* .active {
    font-weight: bold;
} */




.accordion_arrow{
    float: right;
    transition: all 0.7s;
    
}

.accordion_arrow.active{
    transition: all 0.7s;
    transform: rotate(45deg);
}